.products-block {
    width: 100%;
    margin-top: 3rem;
    h2 {
        padding-bottom: 2rem;
        border-bottom: 2px solid $colorDark;
    }
}

.products-cards {
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
}
