$colorLightText: #fff;
$colorText: #5b5b5b;
$colorHeader: #483949;

$colorBG: #dbd9db;
$colorGrey: rgba(128, 128, 128, 0.75);
$colorSemiDark: rgba(128, 128, 128, 0.1);
$colorDark: #2b252c;

$colorHover: #ef8376;
$colorButton: #df7366;
