$colorLightText: #fff;
$colorText: #5b5b5b;
$colorHeader: #483949;
$errorMsg: red;

$colorBG: #dbd9db;
$colorGrey: #6f6271;
$colorSemiDark: #4f4551;
$colorDark: #2b252c;

$colorHoverMenu: #5b5b5b;
$colorHover: #ef8376;
$colorButton: #df7366;
