* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear-fix {
    &::after {
        content: '';
        clear: both;
        display: block;
    }

}

html {
    font-family: $fontMain;
    font-size: 10px;
}

body {
    background: $colorBG;
    font-size: 1.6rem;
}

#app > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: $colorHeader;
}