header {
    font-family: $fontHeader;
    font-weight: 700;
    border-bottom: 2px solid $colorDark;
    .container {
        display: flex;
        position: relative;
    }
    .logo {
        height: 10rem;
        margin-right: 40px;
        img {
            height: 100%;
        }
    }
    nav {
        width: calc(100% - 200px);
    }
    ul {
        list-style: none;
        width: 100%;
    }
    li {
        float: left;
    }
    .user-nav {
        float: right;
        li {
            margin-left: 15px;
        }
        a {
            font-size:1.6rem;
            font-weight: normal;
        }

    }
    .main-nav {
        position: absolute;
        bottom: 44px;
        li {
            margin-right: 15px;
        }
        a {
            font-size:1.8rem;
        }
    }
    a {
        color: $colorDark;
        text-decoration: none;
        &:hover {
            color: $colorHoverMenu;
        }
    }
}